zvandiri-buciness/target
zvandiri-buciness/nb-configuration.xml
zvandiri-client/zvandiri-portal/target
zvandiri-client/zvandiri-report-api/target
zvandiri-client/zvandiri-mobile-api/target
.project
.settings/
zvandiri-buciness/.classpath
zvandiri-buciness/.project
zvandiri-buciness/.settings/
zvandiri-client/.project
zvandiri-client/nb-configuration.xml
zvandiri-client/.settings/
zvandiri-client/zvandiri-mobile-api/.classpath
zvandiri-client/zvandiri-mobile-api/nb-configuration.xml
zvandiri-client/zvandiri-mobile-api/.project
zvandiri-client/zvandiri-mobile-api/.settings/
zvandiri-client/zvandiri-portal/.classpath
zvandiri-client/zvandiri-portal/nb-configuration.xml
zvandiri-client/zvandiri-portal/.project
zvandiri-client/zvandiri-portal/.settings/
zvandiri-client/zvandiri-report-api/.classpath
zvandiri-client/zvandiri-report-api/nb-configuration.xml
zvandiri-client/zvandiri-report-api/.project
zvandiri-client/zvandiri-report-api/.settings/
nb-configuration.xml
zvandiri-buciness/src/main/resources/zw/org/zvandiri/business/resources/application.properties
